In [25]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [26]:
df = pd.read_table(
    '/Users/alekseyfedko/Desktop/test_tasks/yandex/data_task4_old.txt',sep='\t', engine='python')

In [27]:
df.head()

    login          tid  Microtasks          assigned_ts            closed_ts
0  login0  190563850.0         4.0  2017-04-20 12:09:39  2017-04-20 13:13:01
1  login0  190561754.0         1.0  2017-04-20 12:10:30  2017-04-20 12:28:29
2  login0  190565906.0         4.0  2017-04-20 12:21:31  2017-04-20 13:30:10
3  login0  190560246.0         1.0  2017-04-20 12:28:30  2017-04-20 13:13:56
4  login0  190562168.0         2.0  2017-04-20 12:28:42  2017-04-20 13:14:50

In [28]:
df['assigned_ts'] = pd.to_datetime(df['assigned_ts'],format='%Y-%m-%d %H:%M:%S')
df['closed_ts'] = pd.to_datetime(df['closed_ts'],format='%Y-%m-%d %H:%M:%S')

In [31]:
df['time_delta'] = df['closed_ts'].sub(df['assigned_ts'], axis=0) / np.timedelta64(1, 's')

In [33]:
df['earn'] = df['time_delta'] / 30

In [50]:
result = pd.Series(df.groupby('Microtasks')['earn'].median())
result/result.index

Microtasks
1.0     2.933333
2.0     2.400000
3.0     2.144444
4.0     2.025000
5.0     1.960000
6.0     1.855556
7.0     1.914286
8.0     2.016667
9.0     1.888889
10.0    1.770000
11.0    1.745455
12.0    1.672222
13.0    1.553846
14.0    1.729762
15.0    1.794444
16.0    1.648958
17.0    1.749020
18.0    1.585185
19.0    1.496491
20.0    1.448333
21.0    1.311111
22.0    1.392424
23.0    1.422464
24.0    1.340972
25.0    0.862000
26.0    1.047436
27.0    1.085185
28.0    1.057143
29.0    0.805747
30.0    1.261111
31.0    1.144086
32.0    1.074479
33.0    1.323232
34.0    0.889216
35.0    0.954286
36.0    0.648611
37.0    0.589189
38.0    1.448246
39.0    0.647009
40.0    1.183333
41.0    0.667480
42.0    0.465079
43.0    0.770543
44.0    1.530303
45.0    0.715926
46.0    1.140580
47.0    0.231560
48.0    2.647222
49.0    0.371088
50.0    0.583333
dtype: float64